@function vw($screenWidth, $pixelValue) {
  $result: ($pixelValue/$screenWidth) * 100vw;
  @return $result;
}
.container {
  width: 100%;
  height: vw(320, 50);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: vw(320, 20);
  background-color: white;
  position: fixed;
  z-index: 999;
  h1 {
    font-size: vw(320, 20);
    font-weight: 600;
    text-transform: uppercase;
  }
  svg {
    width: vw(320, 20);
    height: vw(320, 20);
  }
}

@media (min-width: 1024px) {
  .container {
    height: vw(1024, 100);
    padding: vw(1024, 50);
    h1 {
      font-size: vw(1024, 35);
      font-weight: 600;
      text-transform: uppercase;
    }
    svg {
      width: vw(1024, 35);
      height: vw(1024, 35);
    }
  }
}

@media (min-width: 1280px) {
  .container {
    height: vw(1280, 100);
    padding: vw(1280, 50);
    h1 {
      font-size: vw(1280, 30);
      font-weight: 600;
      text-transform: uppercase;
    }
    svg {
      width: vw(1280, 35);
      height: vw(1280, 35);
    }
  }
}
