@function vw($screenWidth, $pixelValue) {
  $result: ($pixelValue/$screenWidth) * 100vw;
  @return $result;
}
.title {
  font-family: "Lato", sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: vw(320, 30);
}
.container {
  display: flex;
  flex-direction: column;
  row-gap: vw(320, 10);
  margin-left: vw(320, 20);
}
.buttonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: vw(320, 10);
}
@media (min-width: 1024px) {
  .title {
    font-size: vw(1024, 30);
  }
  .container {
    margin-bottom: vw(1024, 30);
    flex-direction: row;
    flex-wrap: wrap;
    gap: vw(1024, 20);
    margin-left: vw(1024, 70);
  }
  .buttonContainer {
    margin-bottom: vw(1024, 10);
  }
}

@media (min-width: 1280px) {
  .container {
    margin-bottom: vw(1280, 40);
    margin-left: vw(1280, 40);
    margin-top: vw(1280, 40);
    gap: vw(1280, 20);
    justify-content: center;
  }
  .title {
    font-family: "Lato", sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: vw(1280, 50);
    margin-top: vw(1280, 40);
  }
  .buttonContainer {
    margin-bottom: vw(1280, 40);
    margin-top: vw(1280, 40);
  }
}
