@function vw($screenWidth, $pixelValue) {
  $result: ($pixelValue/$screenWidth) * 100vw;
  @return $result;
}
.containmentHousing {
  background-color: rgba(79, 202, 233, 0.8);
  padding-bottom: vw(320, 40);
  padding-top: vw(320, 40);
}
.title {
  font-family: "Lato", sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: vw(320, 30);
  color: rgb(10, 58, 77);
}
.container {
  display: flex;
  flex-direction: column;
  row-gap: vw(320, 10);
}

@media (min-width: 1024px) {
  .containmentHousing {
    padding-bottom: vw(1024, 40);
    padding-top: vw(1024, 40);
  }
  .title {
    font-size: vw(1024, 30);
  }
  .container {
    margin-left: vw(1024, 10);
    margin-right: vw(1024, 10);
    flex-direction: row;
    flex-wrap: wrap;
    gap: vw(1024, 5);
  }
}

@media (min-width: 1280px) {
  .containmentHousing {
    padding-bottom: vw(1280, 40);
    padding-top: vw(1280, 40);
  }
  .container {
    margin-left: vw(1280, 27);
    margin-right: vw(1280, 27);
    gap: vw(1280, 5);
  }
  .title {
    font-family: "Lato", sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: vw(1280, 50);
  }
}
