@function vw($screenWidth, $pixelValue) {
  $result: ($pixelValue/$screenWidth) * 100vw;
  @return $result;
}
.country_dropdown {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: vw(320, 20);
  select {
    padding: vw(320, 8);
    font-size: vw(320, 16);
    border: none;
    border-radius: vw(320, 4);
    margin-right: vw(320, 10);
  }
  p {
    font-size: vw(320, 14);
    margin-top: vw(320, 10);
  }
}

.live_location {
  margin-top: vw(320, 20);
  padding: vw(320, 8);
  background-color: #0077ff;
  color: #fff;
  border: none;
  border-radius: vw(320, 4);
  cursor: pointer;
}
@media (min-width: 1024px) {
  /* Styles for devices with a maximum width of 768px */
  .country_dropdown {
    // margin-bottom: vw(1024, 20);
    flex-direction: row;
    justify-content: center;
    select {
      font-size: vw(1024, 20);
      padding: vw(1024, 10);
      border-radius: vw(1024, 4);
      margin-right: vw(1024, 10);
    }
    p {
      font-size: vw(1024, 20);
    }
  }
  .live_location {
    margin-top: 0;
    padding: vw(1024, 10);
    font-size: vw(1024, 20);
    border-radius: vw(1024, 4);
  }
}

@media (min-width: 1280px) {
  /* Styles for devices with a minimum width of 1280 */
  .country_dropdown {
    margin-bottom: vw(1280, 20);
    select {
      font-size: vw(1280, 20);
      padding: vw(1280, 20);
      border-radius: vw(1280, 4);
      margin-right: vw(1280, 10);
    }
    p {
      font-size: vw(1280, 20);
    }
  }
  .live_location {
    padding: vw(1280, 20);
    font-size: vw(1280, 20);
    border-radius: vw(1280, 4);
  }
}
