@function vw($screenWidth, $pixelValue) {
  $result: ($pixelValue/$screenWidth) * 100vw;
  @return $result;
}

.card {
  display: block;
  min-width: vw(320, 280);
  height: vw(320, 50);
  backdrop-filter: blur(5px);
  background-color: rgba(79, 202, 233, 0.8);
  box-shadow: 0px vw(320, 4) vw(320, 4) rgba(0, 0, 0, 0.5);
  .svgTemp {
    display: flex;
    align-items: center;
    gap: vw(320, 10);
    .temp {
      display: flex;
      align-items: center;
    }
  }
  .descriptionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: vw(320, 20);
    p {
      font-weight: 400;
    }
  }
  svg {
    width: vw(320, 50);
    height: vw(320, 50);
  }
  h2 {
    font-size: vw(320, 20);
    font-weight: 600;
    span {
      font-size: vw(320, 15);
    }
  }
  p {
    font-size: vw(320, 10);
    font-weight: 300;
  }
}

@media (min-width: 1024px) {
  .card {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: vw(1024, 205);
    right: vw(1024, 40);
    gap: vw(1024, 10);
    min-width: vw(1024, 20);
    height: vw(1024, 180);
    box-shadow: 0px vw(1024, 4) vw(1024, 4) rgba(0, 0, 0, 0.25);
    padding: vw(1024, 10);
    .svgTemp {
      gap: vw(1024, 20);
    }
    .descriptionContainer {
      gap: vw(1024, 20);
      align-items: normal;
    }
    svg {
      width: vw(1024, 50);
      height: vw(1024, 50);
    }
    h2 {
      font-size: vw(1024, 20);
      font-weight: 600;
      span {
        font-size: vw(1024, 10);
      }
    }
    p {
      font-size: vw(1024, 12);
      font-weight: 300;
    }
  }
}

@media (min-width: 1280px) {
  .card {
    gap: vw(1280, 20);
    min-width: vw(1280, 250);
    max-width: vw(1280, 280);
    height: vw(1280, 250);
    box-shadow: 0px vw(1280, 4) vw(1280, 4) rgba(0, 0, 0, 0.25);
    padding: vw(1280, 20);
    right: vw(1280, 40);
    top: vw(1280, 205);
    .svgTemp {
      gap: vw(1280, 20);
    }
    .descriptionContainer {
      gap: vw(1280, 10);
    }
    svg {
      width: vw(1280, 80);
      height: vw(1280, 80);
    }
    h2 {
      font-size: vw(1280, 30);
      font-weight: 600;
      span {
        font-size: vw(1280, 20);
      }
    }
    p {
      font-size: vw(1280, 15);
      font-weight: 300;
    }
  }
}
