@function vw($screenWidth, $pixelValue) {
  $result: ($pixelValue/$screenWidth) * 100vw;
  @return $result;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: vw(320, 350);
  width: 100%;

  background: linear-gradient(
    135deg,
    rgba(4, 205, 255, 1) 0%,
    rgba(4, 205, 255, 1) 25%,
    rgba(12, 183, 230, 1) 100%
  );
  padding-top: vw(320, 50);
}

@media (min-width: 1024px) {
  .container {
    flex-direction: row;
    padding-top: vw(1024, 100);
    height: vw(1024, 500);
    gap: vw(1024, 20);
  }
}

@media (min-width: 1280px) {
  .container {
    padding-top: vw(1280, 100);
    gap: vw(1280, 50);
    height: vw(1280, 500);
  }
}
